* {
    padding: 0%;
    margin: 0%;
}
.body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
   display: flex; 
   position:fixed;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: #1d232c   ;
}
.navbar-links:hover{
    text-decoration:underline;
    color: #1d232c;
}  

.navbar-menu-toggle{
    display: none;
}
.side-navbar{
    background-color: blueviolet;
    width: 50%;
    height: 100%;
    position: fixed;
    padding: 20px;
    top: 0%;
    left:-60%;
    color: white;
    transition: 1s;
    
}
.side-navbar-link{
    margin-bottom: 30px;
    
}
.side-navbar-links a{
    color: white;
    text-decoration: none;
}
.side-navbar-links a:hover{
    color: red;
    text-decoration: underline;
    transition: 1s;
}
.header{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}
.header button{
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: #1d232c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.header button:hover{
    background-color:hotpink;
    transition: 1s;
    
}
.service{
    padding: 10px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.new-arrival-container{
    position:relative;
    flex-basis: 20%;
    padding: 20px;
}
.new-arrival-container button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none;
     position: absolute;
     top: 50%;
     left: 25%;
    
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.news input{
    padding: 10px;
    width: 80vw;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px black;
    border-radius: 10px;
}
.news button{
    background-color: black;
    color: #f2f4f7;
    padding-left: 20px;
    padding-right: 20px ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: none;

}
.news button:hover{
    background-color: hotpink;
    color: black;
}
.footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #1d232c;
    color: white;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: auto;

}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
    outline: none;
}
.products{
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products-box{
    text-align: center;
    flex-basis: 20%;
}
.products-box img{
    border-radius: 10px;
}
@media screen and (max-width:600px){
    .navbar-menu-toggle {
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-img{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2 {
        display: block;
    }
}

    
